@charset "utf-8";
.GraphViewCSS {
	color: #7a8d02;
	font-family: carter-one;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid #B3B3B3;
	float: left;
	//border-radius: 5px;
	position: relative;

}
.extent {
	  fill: #CD5C5C;
	  fill-opacity: .125;
	  stroke: #CD5C5C;
}
.bardefault {
	fill :#E6E6FA;
}
.barselected {

	fill: #CD5C5C;
}
.GroupItemCSS {
	height: Auto;
	border: 2px double #B3B3B3;
	//margin-right: 20px;
	//margin-left: 20px;
	margin-top: 30px;
	margin-bottom: 30px;
}
.GroupNameCSS {
	height: Auto;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	text-align: center;
}
* {
   font-size: 20px;
}
input[type="checkbox"] {
    margin-right:3px;
}