<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" " http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd ">
<html xmlns=" http://www.w3.org/1999/xhtml ">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Pills</title>
<script src="http://code.jquery.com/jquery-1.5.js"></script>
<script src="/static/js/pills.js"></script>
<script type="text/javascript">

$(document).ready(function() {

    $('#getdata-button').live('click', function() {
        $.getJSON('/data', {
            drugList: "[41, 42]",
            overlap: "0",
              gap: "1"
            },
            function(data) {
            text = "<ul>";

            for (i = 0; i < data.patients.length; i++) { 
               text = text + "<li>" + data.patients[i].patient_id + "</li>";
            }
 
            text = text + "</ul>";
 
            $('#showdata').html(text);
        });
    });
});

</script>
</head>
<body>
<a href="#" id="getdata-button">Get Patients ids</a>
<div id="showdata"></div>
</body>
</html>
